.setion-shop {
    width: 100%;
    min-height: auto;
    padding: 100px 15px;
    /* background-color: #FF9B42; */
    background-color: whitesmoke;
    /* margin-bottom: 80px; */
}

.setion-shop .box-title {
    width: 100%;
    height: 80px;
}

/* Phần shop by */
.all-box-product {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 50px;
}

.box-product {
    width: 177px;
    height: auto;
    /* background-color: blueviolet; */
    position: relative;
    overflow: hidden;
}

/* Phần hiệu ứng */
.box-product::after {
    position: absolute;
    content: "";
    width: 0%;
    height: 5px;
    background-color: var(--Hover-icon);
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.5s ease-in-out;
}

.box-product:hover::after {
    width: 100%;
}

.box-product img {
    width: 100%;
    height: 177px;
    border-radius: 88.5px;
    /* margin-bottom: 30px; */
    transition: 0.4s;
}

.box-product:hover img {
    border-radius: 30px;
    /* transform: scale(1.1, 1.1); */
}

.box-product a {
    text-decoration: none;
    color: black;
}

.box-product .title-product {
    text-align: center;
    font-size: 18px;
    opacity: 80%;
    position: relative;
}